* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2%;
    background: #f1ebf1;

}

.resumeDiv {
    width: 70%;
    border: 2px solid black;


}

header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
    background: #f7d3eb;
    height: 160px;

}

.text {
    justify-items: center;
}

header img {
    width: 150px;
    height: 160px;
    border-radius: 50%;


}

.content {
    width: 100%;
    position: relative;
    display: grid;
    grid-template-columns: 1fr 2fr;
    padding-top: 20px;

}

aside {
    position: relative;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 50px;
    background: #f5f2f4;
}

.cont-det {
    margin-bottom: 30px;
}


.cont-det h2,
.education h2,
.skill h2,
.language h2,
.experience h2,
.reference h2 {
    border-bottom: 2px solid #9e056b;
    margin-bottom: 20px;
    padding-bottom: 3px;
    color: #9e056b;

}

.education {
    line-height: 20px;
}

.skill ul {
    margin-left: 18px;
}

.main-content {
    padding-left: 50px;
    padding-right: 10px;
    background: #fff;
    padding-bottom: 20px;
}

.exp-items {
    margin-bottom: 46px;
}

.exp-items p {
    margin-bottom: 5px;
}

.exp-items ul {
    margin-left: 18px;
    margin-top: 15px;
}

.white {
    color: #fff;
}

.btn {
    font-size: 15px;
    font-weight: 600;
    padding: 10px;
    border-radius: 8px;
    background: #f7d3eb;
    margin-top: 20px;
    cursor: pointer;
    

    &:hover {
        background: #f3c0db;
        color: #9e056b;
    }

    &:active {
    transform: scale(0.95);
    }
}
#btnDiv {
    width: 70%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;

}

#edit_btn{
    padding-inline: 30px;
}



@media print {
    .btn {
        display: none;
    }
}




@media (max-width:768px) {
    .main-content {
        padding: 5px;
    }

    .content {
        grid-template-columns: repeat(1, 1fr);
        overflow: auto;
    }

    header {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 10px;
        height: auto;


    }

    .text {
        font-size: 10px;
        margin-top: 5px;
    }
.btn{
    font-size: 10px;
}
}

@media (max-width:600px){
    #btnDiv{
        flex-direction: column;
        margin-block: -0px;
    }
.btn{
    margin-inline: 0px;
}
}





@media (max-width: 400px) {
    header {
        padding: 20px;
        height: auto;
        flex-direction: column;
        align-items: center;
    }

    header img {
        width: 100px;
        height: 100px;
        margin-bottom: 10px;
    }

    .text {
        text-align: center;
        font-size: 14px;
    }

    .content {
        padding-top: 10px;
    }

    .btnDiv {

        grid-template-columns: repeat(1, 1fr);
    }

    .btn {
        font-size: 12px;
        padding: 8px;
        margin: 10px 0;
    }

    aside {
        padding-left: 10px;
        padding-right: 10px;
        padding-bottom: 20px;
    }

    .cont-det h2,
    .education h2,
    .skill h2,
    .language h2,
    .experience h2,
    .reference h2 {
        font-size: 16px;
    }
}
